/* палітра кольорів сайту*/
/* text colors*/
/* основний колір тексту #212121 */
/* допоміжний колір тексту #757575 */
/* колір білого тексту #FFFFFF */
/* колір тексту при hover #2196F3 */

/* backgroundcolors */
/* absolute white header #FFFFFF  */
/* title, footer dark #2F303A*/
/* mine fone color  #E5E5E5 */
/* team color #F5F4FA */

:root  {
--primery-texy-color: #212121; 
--secondary-text-color: #757575;
--hover-text-color: #2196F3;
--absolut-white-header: #FFFFFF;
--title-footer-dark: #2F303A;
--mine-fone-color: #E5E5E5;
--team-button-color: #F5F4FA;
}

body 
{
    font-family: Roboto, sans-serif;
    color: var(--primery-texy-color);
    background-color: var(--mine-fone-color);
}
li {
    list-style-type: none;}

    /*оформлення тексту навігаційних кнопок*/
.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    }
 
.list-benefits p{
color: var(--secondary-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;;
}

.button-m {
    cursor: pointer;
    background: var(--hover-text-color);
    color: var(--absolut-white-header);
    Font style: Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em
    }

.button-p {
    cursor: pointer;
    background: var(--team-button-color);
    color: var(--primery-texy-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    }

button:focus,
button:hover {
    background: var(--hover-text-color);
    color: var(--absolut-white-header);
    }

.link:focus,
.link:hover {
    color: var(--hover-text-color);
    }

.link {
    color: var(--primery-texy-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

a {
    text-decoration: none;
    }

.logo {
    color: var(--primery-texy-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
    }

/*оформлення першої частини логотипу*/
.logo-web {
    color: var(--hover-text-color);
    }

.hero {
    color: var(--absolut-white-header);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;   
    letter-spacing: 0.03em;
    }

.list-benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
.p {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.position,
.projects-type {
    color: var(--secondary-text-color);
    }

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    }

.position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em
    }

.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    }

.projects-type {
    color:var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    }

.address a{ 
    color: var(--absolut-white-header);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.site-contacts {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
a[href="mailto:info@example.com"], 
a[href="tel:+380991111111"]
{
  color: rgba(255, 255, 255, 0.6);}
  